@model List<PizarraColaborativa.DTO.PizarraResumenDTO>


<h2 class="text-white bg-dark">Mis pizarras :)</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (ViewBag.PizarraMensaje != null){
	<h3>@ViewBag.PizarraMensaje. 
		<br>
		<a asp-action="CrearPizarra" asp-controller="Pizarra"> Cree una pizarra.</a>
	</h3>

}else{
	<a asp-action="CrearPizarra" asp-controller="Pizarra"> Crear Pizarra</a>

	<form method="get" class="mb-3">
		<select name="idFiltrarPorRol" class="form-select w-auto d-inline-block">
			<option disabled selected>Seleccionar pizarras</option>
			<option value="3">Pizarras propias</option>
			<option value="1">Pizarras compartidas</option>
		</select>
		<button type="submit" class="btn btn-primary">Filtrar</button>
	</form>


	@foreach (var p in Model)
	{
		<div>

			<h3 class="text-white bg-dark">@p.FechaCreacion.ToShortDateString()</h3>

			<a class="text-white bg-dark" asp-controller="Pizarra" asp-action="Dibujar" asp-route-id="@p.Id"> Pizarra= @p.Nombre </a>
		</div>
	}
}

